:root {
    --color1: #ffd783;
    --color2: #ffa382;
    --color3: #911d1d;
    --color4: #ea811e;
    --color5: #b70f0abb;
    --color6: #b70f0a88;
    --color7: #631919;
    --color8: #f4ac9d;
    --color9: #fefce0;
}

html {
    height: 100%;
    width: 100%;
}

* {
    margin: 0;
    padding: 0;
}

a { 
    color: var(--color2);
    text-decoration: none; 
}

.filtered {
    background: transparent;
    backdrop-filter: none;
    filter: hue-rotate(300deg) saturate(100%);
}

#filtered_image {
    height: 90vh;
    width: 45vw;
    position: fixed;
    z-index: -1;
    left: 44vw;
    bottom: -11vh;
}

.select_for_search *{
    background-color: var(--color4);
    color: black;
    /*font-size: 20px;


    
    height: 30px;*/
    font-size: 1.5em;
    /*line-height: 1.5em;*/
    border-radius: 10px 0 0 10px;
}

.select_for_search option{
    font-size: 1em;
}



#search{
    color: black;
    /*width: 50%;*/
    width: 60%;
    /*height: 30px;*/
    height: 2em;
    border-radius: 0 10px 10px 0;
}

@media screen and (max-width: 672px) {
    #search {
        /*width: 107px;*/
        width: 70%;
        border-radius: 0;
    }
    #select_for_search *{
        border-radius: 0;
    }
}

nav{
  display: flex;
  justify-content: flex-end;
  white-space: nowrap;
 }

nav a{
	font-weight: bold;
	font-size: 1.8em;
	margin: 0px 10px;
}

.menu_extended {
	display: inline-grid;
	grid-template-columns: auto auto;
	grid-template-rows: 2em;
}

.menu-extended.hidden{
    display: block;
}

.menu_extended .search-form{
	width: 100%;
}

form button {
    background-color: var(--color4);
    border-radius: 5px;
    height: 35px;
    width: 80px;
    cursor: pointer;
}

label {
    /*font-size: 28px;*/
    font-size: 1.8em;
    white-space: nowrap;
}

    .send_area textarea {
         width: 70%;
         padding: 5px;
    }

    .send_area{
        margin-left: 20%;
    }


#logo_image {
    height: 50px;
    width: 50px;
}

#profile_image {
    height: 40px;
    width: 40px;
    margin: 0 10px;
    margin-right: 20px;
}

input {
    border: 1px solid #000;
    /*font-size: 16px;*/
    font-size: 1em;
    height: 10%;
    width: 32%;
    padding: 1%;
}

main > h1 {
    font-size: 2em;
    margin-top: 1%;
    margin-bottom: 2%;
}

main h2 {
    white-space: nowrap;
}

header {
	position: fixed;
    top: 0;
    z-index: 1;
    /*display: flex;
    flex-direction: row;*/
    display: inline-grid;
    grid-template-columns: 50px auto auto;
    grid-template-rows: 2.2em;
    color: var(--color2);
    padding: 10px 10px;
    /*align-items: center;*/
    /*width: 98%;*/
    width: 100%;
    padding: 20px;
  	align-items: center;
    /*padding: 3px 1%;*/
    /*justify-content: space-between;*/
    background-color: var(--color3);
    border-style: none none solid none;
  	border-color: var(--color3);
  	border-width: 3px;
  	box-shadow: 00px +0px 20px -00px var(--color2) inset;
}

#builder_header {
    position: relative;
}

.menu_extended.login {
    grid-template-columns: auto;
    margin-right: 30px;
}

button#menu_button{
	height: 4em;
	width: 4em;
	background-color: var(--color3);
	border: none;
	display: none;
}

button#menu_button img{
	height: 4em;
	width: 4em;
}

header :nth-child(2) {
    margin-right: 10px;
}

/*
header :nth-child(2) {
    margin-right: auto;
}*/

/*
header :nth-child(4) {
    margin-right: 5%;
}*/

body{
    background-color: var(--color2);
}

#builder_body {
    background-color: var(--color7);
}

main {
	margin-top: 70px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.sign_form {
    display: flex;
    flex-direction: column;
    width: 40%;
    align-items: center;
    justify-content: space-around;
    background-color: var(--color1);
    border: 4px double black;
    box-shadow: 0 0 30px rgba(0,0,0,0.5);
    margin-top: 15%;
}

.sign_form * {
    margin: 2%;
}

.sign_form :nth-child(2n) {
    margin-top: auto;
}

.search-form {
    display: flex;
    flex-direction: row;
    /*flex-wrap: wrap;*/
    flex-wrap: nowrap;
    align-items: center;
    width: 50%;
}

.search-form input{
    font-family:Arial, FontAwesome;
}

.grid {
    display: grid;
    margin-bottom: auto;
    grid-template-columns: repeat(3, 400px);
    grid-auto-rows: 220px;
    grid-column-gap: 100px;
    grid-row-gap: 100px;
    margin-bottom: 2%;
}

.nav-container {
  display: inline-grid;
  grid-template-columns: repeat(3, auto);
  grid-template-rows: 2em;
  align-items: center;
  justify-content: right;
}

@media screen and (max-width: 1500px) {
    .grid {
        grid-template-columns: repeat(2, 400px);
    }
}

@media screen and (max-width: 1000px) {
    .grid {
        grid-template-columns: repeat(1, 400px);
    }
}

@media screen and (min-width: 1100px) {
    #delete_button {
        top: calc(25vh + 700px);
    }
}

@media screen and (max-width: 1100px) {
    
    main{
    	margin-top: 160px;
    }

    .menu_extended{
    	margin-top: 20px;
    	grid-template-columns: 100%;
    	grid-template-rows: 2em 2em;
    	grid-column: 1 / span 2;
        grid-row: 2;
    }

    .menu_extended.login{
        grid-template-rows: 2em;
    }

    nav{
    	align-items: stretch;
      justify-content: center;
    }

    .nav-container {
      width: 100%;
      grid-template-columns: auto auto;
  }

  img#profile_image{
  	display: none;
  }

  header{
  	grid-template-columns: 50px auto;
    grid-template-rows: 2.2em auto;
    }
    
    #delete_button {
        top: calc(25vh + 800px);
    }

}

.coctail_box {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    background-color: var(--color3);
    color: var(--color2);
    /*font-size: 25px;*/
    font-size: 1.5em;
    border: 1px solid rgba(0, 0, 0, 0.8);
    border-radius: 20px;
    padding: 20px;
    text-align: center;
}

.full_coctail_box {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    background-color: var(--color3);
    color: var(--color2);
    /*font-size: 25px;*/
    font-size: 1.5em;
    margin-top: 3%;
    border-radius: 30px 30px 0 0;
    width: 80%;
    border: 1px solid rgba(0, 0, 0, 0.8);
    padding: 20px;
    text-align: center;
}

.half-transparent {
    opacity: 0.5;
    position: relative;
    z-index: 0;
}

.coctail_header, .coctail_main, .coctail_header2, .send_area {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
}

.margin_top {
    margin-top: 2%;
}

.comment_author {
    color: white;
    margin-bottom: 0.5%;
}

.row {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 100%;
}

.column {
    display: flex;
    flex-direction: column;
    padding: 20px;
    align-items: center;
    justify-content: space-between;
}

.column input, textarea {
    background-color: var(--color8);
}

#delete_button {
    position: absolute;
    left: 440px;
    background: transparent;
    border: none;
    outline: none;
}

#delete_button img {
    height: 100%;
    width: 100%;
}

/* #fon_image {
    height: calc(25vh + 700px);
    width: 100%;
    overflow: hidden;
    align-self: flex-end;
    /* object-fit: cover;
    overflow: hidden; 
}
*/
#fon_image {
    position: fixed;
    right: -20px;
    bottom: 0px;
    z-index: -1;
    width: 102%;
    height: 120%;
    overflow: hidden;
}

#builder_form {
    display: flex;
    flex-direction: column;
    background-color: var(--color7);
    color: var(--color9);
}

@media screen and (max-width: 1000px) {
/*
.search-form {
    flex-wrap: wrap;
}*/


    .coctail_main {
        flex-wrap: wrap;
    }
}

.full_coctail_box > .coctail_main {
  align-items: flex-start;
}

.coctail_header :nth-child(2) {
    margin-left: auto;
}

.coctail_header2 *
 {
    margin-left: auto;
}

.number_circle {
    border-radius: 50%;
    width: 36px;
    height: 36px;
    padding: 8px;

    background: var(--color4);
    border: 2px solid #666;
    color: black;
    text-align: center;
    font: 32px Arial, sans-serif;
}

.coctail_title {
    display: flex;
    flex-direction: column;
}

.coctail_image_background_in_grid {
    width: 100px;
    height: 100px;
    background-image: url(https://sun9-54.userapi.com/c857320/v857320097/1a63cb/MVvijM2OdPE.jpg);
    background-color: transparent;
    background-size: cover;
    border-radius: 20px;
    padding: 5px 5px 0 5px;
}

.coctail_image_background {
    width: 200px;
    height: 200px;
    background-color: var(--color1);
    padding: 5px;
    margin-bottom: 5%;
}

.coctail_image {
    width: 100%;
    height: 100%;
}

div.stars {
    display: inline-block;
  }
  
  input.star { display: none; }
  
  label.star {
    float: right;
    padding: 5px;
    /*font-size: 32px;*/
    font-size: 1.2em;
    color: var(--color4);
    transition: all .2s;
  }
  
  input.star:checked ~ label.star:before {
    content: '\f005';
    color: #FD4;
    transition: all .25s;
  }
  
  input.star-5:checked ~ label.star:before {
    color: #FE7;
    text-shadow: 0 0 20px #952;
  }
  
  input.star-1:checked ~ label.star:before { color: #F62; }
  
  label.star:hover { transform: rotate(-15deg) scale(1.3); }
  
  label.star:before {
    content: '\f006';
    font-family: FontAwesome;
  }

  .coctail_main > * {
    margin: 2%;
  }

  .recipe {
      list-style-type: none;
      text-align: left;
      color: #ffffff;
      white-space: nowrap;
      margin-top: 5%;
  }

  .recipe > li:before {
    content: "\f04b\00a0\00a0\00a0";
    font-family: FontAwesome;
    color: #ffffff;
  }
  
  input::-webkit-outer-spin-button,
  input::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

  .grid_recipe {
    white-space: nowrap;
    display: grid;
    list-style-type: none;
    height: 25vh;
    margin: 2%;
    grid-template-columns: repeat(2, 1fr);
    grid-auto-rows: 30px;
    font-size: 1.2em;
    overflow-y: auto;
    overflow-x: hidden;
  }

  .grid_recipe > li:before {
    content: "\f04b\00a0\00a0\00a0";
    font-family: FontAwesome;
    color: #ffffff;
  }

  .receipe_holder {
     margin-top: 2%;
    }

  .review {
    color: var(--color3);
    text-align: left;
    background-image: url('note.jpg');
    background-position: top;
    background-repeat: repeat;
    /*background-size: 80px;*/
    background-size: 2.5em;
    /*line-height: 32px;*/
    line-height: 1em;
    padding: 0 5px;
  }

  .review p {
    margin: 0;
    text-align: right;
  }

  .comments_section {
    background-color: var(--color5);
    width: 80%;
    border: 1px solid rgba(0, 0, 0, 0.8);
    padding: 20px;
}

.comments {
    margin: 0 10%;
}

.comment__author {
    color: white; 
    margin-bottom: 0.5%;
}

.comment {
    display: flex;
    flex-direction: row;
    align-content: flex-start;
    justify-content: space-between;
    list-style-type: none;
    text-align: left;
}

.send_section {
    display: flex;
    flex-direction: column;
    align-content: center;
    justify-content: space-between;
    background-color: var(--color6);
    border-radius: 0 0 30px 30px;
    width: 80%;
    border: 1px solid rgba(0, 0, 0, 0.8);
    padding: 20px;
    padding-top: 0;
}

#send_button {
    background-color: transparent;
    font-family: Arial, FontAwesome;
    border-width: 0;
    /*font-size: 30px;*/
    font-size: 1.6em;
}

#expand_button {
    background-color: var(--color4);
    margin: 0 40% 2% 40%;
    white-space: nowrap;
    border-width: 1px;
    outline: none;
    border-radius: 0 0 100% 100%;
}

.send_area :last-child {
    margin-left: 1%;
    margin-right: auto;
}

#coctail_model {
    width: 0;
    height: 0;
    visibility: hidden;
}

.fruit_grid {
    display: grid;
    width: 351px;
    height: 303px;
    margin-top: 2%;
    margin-right: 5%;
    grid-template-columns: repeat(3, 1fr);
    grid-auto-rows: auto;
    overflow-y: scroll;
    overflow-x: hidden;
    outline: 2px solid black;
}

.fruit_grid input {
    background-color: var(--color8);
    outline: 1px solid black;
    border-width: 0em;
    width: 100px;
    height: 100px;
}

#save_button {
    margin: 5%;
    width: 100px;
    font-size: 1.3em;
    font-weight: bold;
}

#save_button ~ label {
    margin-top: auto;
    white-space: nowrap;
    margin-bottom: 10%;
    color: var(--color2);
    font-size: 1em;
}

#save_button ~ input {
    width: 50px;
    text-align: center;
    height: 50px;
    margin-bottom: 70%;
}

.recipe_title {
    text-align: center;
    margin: 5% 0;
    font-size: 1.8em;
}

#builder_name {
    width: 380px;
    margin-bottom: 2%;
}

#builder_description {
    resize: none;
    padding: 0 5px;
    width: 380px;
    line-height: 20px;
    font-size: 1.5em;
}

.crossed {
    background: 
        linear-gradient(to top left,
            #ffffff00 0%,
            #ffffff00 calc(50% - 1.8px),
            #ffffff 50%,
            #ffffff00 calc(50% + 1.8px),
            #ffffff00 100%),
        linear-gradient(to top right,
            #ffffff00 0%,
            #ffffff00 calc(50% - 1.8px),
            #ffffff 50%,
            #ffffff00 calc(50% + 1.8px),
            #ffffff00 100%);
    align-self: center;
    width: 15px;
    height: 30px;
}

.hide, .hide * {
    display: none;
}   

.one_column {
    grid-template-columns: auto;
}

@media only screen and (max-device-width: 380px) and (-webkit-device-pixel-ratio: 4){

	header{
		font-size: 2em;
	  	grid-template-columns: 50px auto 4em;
        grid-template-rows: em auto;
        padding: 5px;
    }

    #page_container {
        overflow: auto;
        position: relative;
    }    

    .nav-container {
        font-size: 0.5em;
    }
    
    h1 {
        font-size: 0.75em;
        white-space: nowrap;
    }

    
    button#menu_button{
        height: 3em;
        width: 3em;
        margin-left: 20px;
    }

    button#menu_button img{
        margin: auto;
        height: 3em;
        width: 3em;
    }

    .menu_extended {
        margin-top: 0;
    }

    #search{
        margin-top: 6px;
        font-size: 0.95rem;
        border-radius: 0 10px 10px 0;
        width: 50%;
    }

    .search-form {
        justify-content: start;
    }

    .select_for_search * {
        font-size: 0.75em;
        margin-left: 10px;
    }

    .select_for_search option {
        font-size: 0.5em;
    }

    .nav-container {
   		grid-template-rows: 2em 2em;
    }

    .nav-container.login {
        grid-template-rows: 2em;
        margin-bottom: 20px;
    }

    main {
		margin-top: 83px;
		font-size: 1em;
    }

    main > h1 {
        margin-top: 5%;
        margin-bottom: 5%;
    }
    
    .grid {
		grid-template-columns: 300px;
		grid-auto-rows: min-content;
	}

	.coctail_image_background_in_grid {
	    width: 150px;
	    height: 150px;
    }
    


	.coctail_box {
		font-size: 1.4em;
	}

    .coctail_image_background {
        margin-top: 10px;
    }

    .review {
        background-size: 2.95em;
        line-height: 1.2em;
        padding: 0px 10px;
        margin: 0px 40px;
      }

    .send_area {
        margin: 10px 0px 10px 10%;
    }

    .send_area textarea {
        font-size: 0.8em;
        width: 75%;
    }

    .sign_form {
        margin-top: 15%;
        padding: 60px 20px;
        width: 70%;
    }

    .sign_form button {
        font-size: 1.4em;
        padding: 15px;
        width: 190px;
        height: 55px;
    }

    .sign_form label {
        font-size: 1.9em;
    }

    .sign_form input {
        margin-bottom: 40px;
        font-size: 1.2em;
        width: 65%;
    }

    #fon_image {
        visibility: hidden;
    }

    label {
        font-size: 1.5em;
    }
    
    #builder_form {
        width: 100%;
        align-items: center;
        justify-content: center;
    }

    #review_block {
        order: -1;
        margin: 0;
        padding-top: 0;
    }

    #save_button {
        position: absolute;
        top: 360px;
        left: 0px;
        width: 100px;
        height: 40px;
        margin-top: 0;
    }

    .grid_recipe {
        grid-template-columns: repeat(1, 1fr);
        grid-auto-rows: 30px;
        height: 14.5vh;
        margin-top: 0;
    }

    #builder_name {
        width: 320px;
        height: 20px;
        margin-bottom: 4%;
        font-size: 1.2em;
    }
    
    #builder_description {
        width: 320px;
        line-height: 15px;
        font-size: 1.2em;
    }

    #save_button ~ label {
        margin-top: 5%;
    }

    .column {
        padding: 5px;
    }

    .crossed {
        width: 15px;
        height: 30px;
        margin: 0 2%;
    }

    #save_button ~ input {
        width: 60px;
        text-align: center;
        height: 60px;
        font-size: 1em;
        margin-bottom: 25%;
    }
    
    form button {
        width: 100px;
        height: 30px;
        font-size: 1em;
    }

    #delete_button {
        top: 350px;
        left: 275px;
        height: 50px;
        width: 50px;
    }

    .recipe_title {
        margin-top: 0;
        font-size: 1.5em;
    }

    .fruit_grid {
        margin-top: 5%;
        margin-left: 3%;
        grid-template-columns: repeat(3, 1fr);
        grid-template-rows: repeat(2, 1fr);
        width: 185px;
        height: 120px;
    }

    .fruit_grid input {
        width: 60px;
        height: 60px;
    }

    #coctail_model {
        visibility: visible;
        height: 130px;
        width: 125px;
    }
}



@media only screen and (min-device-width: 600px) and (-webkit-device-pixel-ratio: 4){


    .send_area {
        margin: 10px 0px 10px 5%;
    }

    .send_area textarea {
        width: 85%;
        padding: 10px;
        font-size: 0.8em;
    }


	button#menu_button{
		width: 2.5em;
		height: 2.5em;
	}

	button#menu_button img{
		width: 2.5em;
		height: 2.5em;
	}

	header{
		font-size: 1.2em;
	  	grid-template-columns: 50px auto 3em;
	    grid-template-rows: 1.5em auto;
	}

    #search{
    	font-size: 1.2rem;
    }


    .select_for_search option {
    	font-size: 0.5em;}

    .nav-container {
   		grid-template-rows: 2em 2em;
    }

    .nav-container.login {
        grid-template-rows: 1.5em;
        margin: 0px;
    }

    main {
		margin-top: 60px;
	}

	.coctail_image_background_in_grid {
	    width: 120px;
	    height: 120px;
	}

    .coctail_main {
        flex-wrap: nowrap;
    }

    .coctail_image_background {
        width: 200px;
        height: 200px;
    }

    .sign_form {
        margin-top: 40px;
        padding: 10px;
    }

    .sign_form button {
        font-size: 1.4em;
        padding: 5px;
        width: 120px;
        height: 45px;
    }

    .sign_form label {
        font-size: 1.9em;
    }

    .sign_form input {
        font-size: 1.2em;
        width: 55%;
    }

    .fruit_grid {
        width: 270px;
        height: 228px;
        margin-right: 0;
    }

    .column {
        padding-left: 0;
    }

    #delete_button {
        top: calc(25vh + 590px);
        left: 335px
    }

    header{
		padding: 20px;
	}
	.grid {
		grid-template-columns: 600px;
        grid-auto-rows: min-content;
    }
    .nav-container {
        font-size: 0.75em;
    }

    #search {
        padding: 10px;
        width: 60%;
    }

    .search-form {
        justify-content: center;
    }
    
    .menu_extended{
		margin-top: 30px;
	}

    #save_button ~ input {
        margin-bottom: 30%;
    }

    label, .recipe_title {
        font-size: 1.5em;
    }

    #builder_name, #builder_description {
        width: 300px;
    }

    .crossed {
        margin: auto 5%;
    }    

    .fruit_grid input {
        width: 75px;
        height: 75px;
    }

    #fon_image {
        right: 0;
        width: 60%;
        height: 90%;
    }

    #filtered_image {
        height: 80vh;
        width: 40vw;
        bottom: -9vh;
        left: 58vw;
    }
}

@media only screen and (max-device-width: 800px) and (-webkit-device-pixel-ratio: 4){

    header {
        grid-template-columns: 50px auto 4em;
    }

	button#menu_button{
		display: inline-block;
		margin-right: 20px;
	}

    .hidden {
        display: none;
    }    

	.menu_extended{
    	grid-column: 1 / span 3;
    }

    .number_circle {
        width: 24px;
        height: 24px;
        font-size: 20px;
    }

    .full_coctail_box {
        font-size: 1em;
    }

    option {
    	font-size: 1em;}

    .nav-container {
    	width: 100%;
    	align-items: center;
   		justify-items: center;
   		grid-template-columns: auto;
   		text-align: center;
   		justify-content: center;
    }

    .search-form {
	    align-items: center;
	}

    #expand_button {
        font-size: 1.2em;
        margin: 0 20% 2% 20%;
        border-width: 2px;
        border-radius: 0 0 100% 100%;
    }

    .stars, .score_title {
        font-size: 1.5em;
    }

    .send_area textarea {
        border-radius: 15px;
    }

    .send_area {
        width: 100%;
        font-size: 1.6em;
    }

    .comment p{
        font-size: 1em;
    }
}
